# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Mac
.DS_Store

# Databases
chroma_db/
chroma_memory/

# Model files
pretrained_models/

# Notebook checkpoints
.ipynb_checkpoints/

# Python cache
.cache/