# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Mac
.DS_Store

# Databases
chroma_db/
chroma_memory/
chroma_memory_db/

# Model files
pretrained_models/

# Conversation logs
conversation_logs/

# Notebook checkpoints
.ipynb_checkpoints/

# Python cache
.cache/
